$bg:rgb(248, 250, 252);
$bgcaja:#240e86;
$bgcaja1: #000080;
$bgcaja2: #0000ff;
$bgcaja3:#000080;
$bordo:#ffffff;
$text: #ffffff;
@import"body";
h1{
    font-family: Arial, Helvetica, sans-serif;
    color:blue;
    text-align: center;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color:blue;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
}
.CF{
    background-color:$bgcaja1;
    width: 30ppx;
    height: 300px;
    margin: 5px;
    padding: 10px;
    overflow: auto;
    border: blue 5px solid;
    border-radius: 5%;
    display: inline-block;
}
.CC{
    background-color:$bgcaja3;
    width: 30ppx;
    height: 300px;
    margin: 5px;
    padding: 10px;
    overflow: auto;
    border: blue 5px solid;
    border-radius: 5%;
    display: inline-block;
}
.CO{
    background-color:$bgcaja2;
    width: 30ppx;
    height: 300px;
    margin: 5px;
    padding: 10px;
    overflow: auto;
    border: blue 5px solid;
    border-radius: 5%;
    display: inline-block;
}
.translate:hover{
    transform: translate(30px,30px);
    transition:all 6s ease;
}
@mixin cajas($bgcaja){
    background-color: $bgcaja;
    width:300 px;
    height: 300px;
    margin: 5px;
    padding: 10px;
    overflow: auto;
    border: 5px solid;
    border-radius: 5%;
    display: inline-block;
}
    h2{
        color:$bordo
    }
    p{
        color:$text
    }
    .mision{
        @include cajas($bgcaja1)
    }
    .vision{
        @include cajas($bgcaja2)
    }
    .valores{
        @include cajas($bgcaja3)
    }
.contenedor{
    width: 100%;
    height: 100%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    background: rgb(131,58,180);
    background: -moz-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,0.639093137254902) 0%, rgba(252,176,69,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,0.639093137254902) 0%, rgba(252,176,69,1) 100%);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,0.639093137254902) 0%, rgba(252,176,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
    }

